@import url('https://fonts.googleapis.com/css2?family=Cardo&family=Josefin+Sans:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-color: rgba(42,41,37,255);
    color: #c6c8c9;;
    font-family: Cardo, sans-serif;
    font-weight: 100;
    font-size: 1.2em;
}

/* Header and logo */

.start {
    font-family: 'Josefin Sans', sans-serif;
    background-color: #c6c8c9;
    width: 100%;
    height: 110px;      
}

.logo { 
    float: left;
    text-transform: uppercase;
    font-size: 225%;
    letter-spacing: 4px;
    margin: 2% 0 2% 2%;
    font-weight: 900; 
    border-top: 3px solid #675c13;
    border-bottom: 3px solid #675c13;
}

/* Navigation pages */

.pages {
    float: right;
    font-size: 150%;
    letter-spacing: 4px;
    margin: 2% 2% 2% 0; 
    font-weight: 600;
}

.pages li {
    display: inline-block;
    margin-right: 40px;
    list-style-type: none;   
}

/* Navigation links style */

header > a {
    color: #675c13;
}

.pages a {
    color: #675c13;
    text-decoration: none;
    
}

.pages > li:hover {
    border-bottom: 2px solid #bf0901;
}

.logo:hover {
    border-bottom: 2px solid #bf0901;
}

/* Image Hero */

#headerimg {
    width: 100%;
    animation-name: wall;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

#message {
    letter-spacing: 3px;
    font-size: 1.2em;
    font-style: italic;
}

/* Left Hand Side Description */

#description {
    height: 500px;
}

#left-text {
    float: right;
    padding-top: 100px;
    width: 60%;
    margin-right: 40px;
    letter-spacing: 1px;
    border-left: 1px solid #675c13;
}

#dname {
    font-family: 'Josefin Sans', sans-serif;
    font-size: x-large;
}

#link-menu {
    text-decoration: none;
    color: #d9e0e8;
    font-family: Cardo, sans-serif;
    font-weight: 100;
    border-bottom: 1px solid #675c13;
}

#link-menu:hover {
    background-color: #d9e0e8;
    color: rgba(42,41,37,255)
}

/* Ilustrations */

#ilustration {
    height: 500px;
    clear: both;
    margin-top: 1%;

}

#ilustration > div {
    display: inline-block;
}

#ilustration img {
    width: 22.5%;
    padding-left: 2%;
}

/* Opening Hours and Contact details */

#details {
    width: 100%; 
    height: 500px;
    margin-top: 15%;
}

.hours {
    float: left;
    margin: 5% 0 5% 10%;
}

.contact {
    float: right;
    margin: 5% 10% 5% 0;
}

th, td {
    text-align: center;
    border-bottom: 1px solid #675c13;
}

th {
    font-size: 24px;
}

/* Footer */

.social-media {
    height: 110px;
    background-color: #c6c8c9;
    text-align: center;
    overflow: hidden;
    clear: both;
}

i {
    color: #675c13;
    font-size: 180%;
    padding: 3%;
}

/* Menu.html */

#menu {
    margin: 10% 10% 10% 0;
    width: 100%;
    height: 1000px;
}

.menu-list {
    margin-left: 3%;
    float: left;
}

.menu-list li {
    list-style-type: none;
}

/* Images Menu */

#menu-photo1 {
    height: 450px;
    width: 330px;
    float: right;
    margin: 30px 30px 0 40px;
}

#menu-photo2 {
    height: 450px;
    width: 330px;
    float: right;
    margin-top: 15%;   
}

h3 {
    border-bottom: 1px solid #675c13;
}


/*  Animation for hero image */

@keyframes wall {
    from {
        transform: scale(0.8);
    }
    to {
        transform: scale(1);
    }
}

/* Media queries for tablet */

@media screen and (max-width:900px) {

    #ilustration { 
        height: unset;
    }
    #ilustration img {
        width: 22.5%;
        padding: 0;
    }
    #left-text {
        padding-top: 40px;
        width: 90%;
        margin-right: 1%;
        border-left: 1px solid #675c13;
    }
    .pages {
        margin: 40px 20px 20px 20px;
    }

    .hours {
        margin: 5% 30%;
    }

    .contact {
        margin: 5% 30%;
    }

/* Media queries for Mobiles */

@media screen and (max-width:426px) {

    #ilustration img {
        width: 100%;
    }

    .hours {
        margin: 5% 30%;
    }

    .contact {
        margin: 5% 25%;
    }

    #left-text {
        padding-bottom: 40px;
}